# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.idea/

# Expo
.expo/
.expo-shared/
web-build/

# Metro / bundler caches
.metro-health-check*

# React Native Android build artifacts
**/android/.gradle/
**/android/build/
**/android/app/build/
**/.cxx/

# React Native iOS build artifacts
**/ios/build/
**/ios/Pods/
**/ios/DerivedData/
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcuserstate

# local packages
*.tgz